# 3) Copy this file .service to /etc/systemd/system/
# 4) Execute `sudo systemctl daemon-reload`
# 5) Execute `sudo systemctl enable sexxyBot`
# 6) Execute `sudo systemctl start sexxyBot`

[Unit]
Description=Discord Sexxy Bot
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="token=<token here>"
Environment="masterId=<masterId here>"
Type=simple
Restart=always
RestartSec=60
WorkingDirectory=/serverdata/bot-test
ExecStart=/usr/bin/screen -DmS sexxyBot ./sexxyBotStart.sh
ExecStartPost=screen -S sexxyBot -X multiuser on ; screen -S sexxyBot -X acladd osa

ExecStop=/bin/sleep 5

[Install]
WantedBy=multi-user.target